@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100..700&family=Roboto:wght@300;400;500;700;900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.btn-reset {
  display: block;
  cursor: pointer;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border: none;
  outline: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.page {
  padding-top: 10px;
  height: 100vh;
  padding-bottom: 125px;
  position: relative;
}

.absolute {
  position: absolute;
}

.container {
  max-width: 1300px;
  padding: 0 10px;
  margin: 0 auto;
}

.btn {
  background-color: #db4f40;
  color: #faf8ed;
  border-radius: 12px;
  padding: 8px 32px;
  font-size: 14px;
  font-weight: 600;
}

input {
  border-radius: 8px;
  padding: 8px 24px 8px 6px;
  border: none;
}
