.mobile-bar {
  position: fixed;
  z-index: 20;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 15px 20px 25px 20px;
  margin: 0 auto;
  z-index: 5;
  max-width: 1200px;
  text-align: center;

  &__list {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 16px;
  }

  &__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    gap: 4px;
    font-weight: 600;
    width: 84px;
    height: 84px;
    border-radius: 12px;
    background-color: #faf8ed;
    color: #543930;

    & img {
      height: 54px;
    }

    &.active {
      -webkit-box-shadow: 4px 4px 0px 0px rgba(219, 79, 64, 1);
      -moz-box-shadow: 4px 4px 0px 0px rgba(219, 79, 64, 1);
      box-shadow: 4px 4px 0px 0px rgba(219, 79, 64, 1);

      & img {
        animation: 0.8s forwards rotate;
      }
    }
  }
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}
