.gift {
  margin-bottom: 15px;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    color: #543930;
    font-size: 16px;
    font-weight: 700;
  }

  &__check {
    background-color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    color: #543930;
    width: 150px;
    height: 32px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 800;
  }

  &__friend {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  &__modal {
    width: 42px;
    height: 42px;
    padding: 0;
    border-radius: 100%;
    border: none;
    background-color: #faf8ed;
    cursor: pointer;
    webkit-box-shadow: 2px 2px 0px 0px rgb(219, 79, 64);
    -moz-box-shadow: 2px 2px 0px 0px rgb(219, 79, 64);
    box-shadow: 2px 2px 0px 0px rgb(219, 79, 64);

    & img {
      height: 100%;
      object-fit: contain;
    }
  }
}
