.gift-page {
  background-color: rgb(136, 32, 32);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__cover {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    & img {
      width: 135px;
      animation: 0.8s infinite moved;
    }
  }
}

@keyframes moved {
  from {
    transform: rotateY(-45deg);
  }

  to {
    transform: rotateY(+45deg);
  }
}
