.room-descr {
  padding-top: 10px;
  margin-bottom: 20px;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: #697947;
    font-weight: 600;
  }
}
